python-apt==0.0.0
python-box==7.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-louvain==0.16
python-multipart==0.0.20
python-slugify==8.0.4
python-snappy==0.7.3
python-utils==3.9.1


faiss-cpu==1.12.0
pip==24.1.2
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-text-splitters==0.3.11

langchain-huggingface>=0.0.8
pandas>=2.2.0

scikit-learn==1.6.1
sentence-transformers==5.1.0
streamlit>=1.34.0
torch==2.8.0
transformers==4.56.1
tokenizers==0.22.0

